footer{
    padding: 4rem 0 0 0;
    background-color: #3f3d56;
    color: white;
    margin: auto;
}
footer a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}
footer a:hover{
    text-decoration: underline;
    color: #a19bdb;
    transform: scale(1.1);
}
.social-icons{
    display: inline-block;

}
i.fab{
    margin: .5rem .3rem ;
    font-size: 1.2rem;
    transition: scale .3s ease-in-out;
}

i.fab:hover{
    transform: scale(1.2);
}