
.module{
    margin-top: .5rem;
}
.form-row{
    margin-bottom: .5rem;
}
input[type='email'],
input[type='password']{
    width: 15rem;
    height: 2rem;
    border: 2px solid #3f3d56;
    padding: 1rem;
}


.submit{
    margin-top: 1rem;
    transition: all .3s ease-in-out;
    border-radius: 4px;
    padding: .5rem 1rem;
}


.submit:hover{
    background-color: var(--main-color-orange);
    color: white;
}
fieldset label{
    width: 9rem;
}