@import './login.css';

.first-name, .last-name{
    width: 49%;
    display: inline-block   ;
}
.password1, .password2{
    width: 49%;
    display: inline-block   ;
}
.email{
    margin-top: .5rem;
}
.helptext{
    font-size: .8rem;
    color: rgb(223, 223, 223);
}
.helptext ul{
    margin-top: .3rem;
    margin-bottom: .5rem;
}
.errorlist{
    margin: .5rem 0;
    padding: 1rem;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    border-radius: 5px;
}

.cycle3{
    position: absolute;
    top:25rem;
    left: calc(100vw / 2 - 20rem);
    width: 18rem;
    height: 18rem;
    z-index: -1;
}

@media (max-width: 610px){
    .cycle3{
        left: calc(100vw / 2 - 15rem);
    }
}